/* global rules */
label, input, textarea{
    vertical-align: middle;
}

select{
    padding: 3px 15px;
}

/* Requests list section */

.request_list{
    margin-bottom: 2em;
}

.request_list > ol{
    list-style: none;
    padding: 1em 0;
}

/* add request section */

.request_add{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1em;
}

.createReq_button{
    display: inline-block;
    width: 100%;
}

.createReq_form{
    border: 1px solid black;
    padding: .5em;
    background-color: white;
}

/* Flash Messages section */
.flash_messages{
    position: fixed;
    top: 1em;
    left: 33%;
    right: 33%;
    margin: auto;
    padding: 2em;
    border: 2px solid black;
    background-color: #ccf;
    text-align:center;
}

.flash_messages > ul{
    list-style: none;
    padding: 0;
    color: darkred;
    font-weight: bold;
}