<article id="content" class="container-fluid">
  <!-- Tasks list -->
  <section class="container task_list">
    <ol>
      
      <li class="row legend" data-bind="if: 0 === $index()">
        <label class="col-xs-2">Title</label>
        <label class="col-xs-1">Priority</label>
        <label class="col-xs-2">Project</label>
        <label class="col-xs-2">Due date</label>
      </li>
      
      <li *ngFor="let task of tasksList"  class="row">
	<label class="col-xs-2">{{ task.title  }}</label>
        <label class="col-xs-1">{{ task.priority  }}</label>
        <label class="col-xs-2">{{ task.project.name  }}</label>
        <label class="col-xs-2">{{ task.due_date }}</label>	
      </li>
    </ol>
  </section>
</article>
