<!doctype html>
<html>
  <head>
    <title>BriteCore test assignment</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>

    <script src="{{ url_for('static',filename='vendors/knockout-3.4.2.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/britecoretest.js') }}" type="text/javascript"></script>
  </head>
  <body>
    <article id="content">
      <!-- Requests list -->
      <section class="request_list">
        <ol data-bind="foreach: requests">
          <li>
            <input type="text" data-bind="value: title, enable: isEdited()" />
            <input type="text" data-bind="value: priority, enable: isEdited()"/>
            <select type="text" data-bind="enable: isEdited(),
                                           value: client().id, foreach: $parent.clients">
              <option data-bind="text: name, value: id"></option>
            </select>
            <select data-bind="enable: isEdited(),
                               value: product_area().id, foreach: $parent.productsAreas">
              <option data-bind="text: name, value: id"></option>
            </select>
            <input type="text" data-bind="value: target_date, enable: isEdited()"/>
            <input data-bind="click: $parent.toogleDetails" type="button" value="Details" />
            <input data-bind="click: $parent.deleteRequest" type="button" value="Remove" />
            <p data-bind="visible: fullDisplay()">
              <textarea data-bind="value: description, enable: isEdited()" ></textarea>
              <input data-bind="click: $parent.toogleEdit, visible: !isEdited()" type="button" value="edit"/>
              <input data-bind="click: $parent.cancelEdit, visible: isEdited()" type="button" value="cancel"/>
              <input data-bind="click: $parent.updateRequest, visible: isEdited()" type="button" value="save"/>
            </p>
          </li>
        </ol>
      </section>

      <!-- adding new request form -->
      <section class="request_add">
        <form data-bind="submit: postRequest" action="/requests" method="post">
          <p>
            <label>Title :</label>
            <input data-bind="value: newRequest.title" type="text" name="title" />
          </p>
          <p>
            <label>Description :</label>
            <textarea data-bind="value: newRequest.description" name="description"></textarea>
          </p>
          <p>
            <label>Priority :</label>
            <input data-bind="value: newRequest.priority" type="text" name="priority" />
          </p>
          <p>
            <label>Due date :</label>
            <input data-bind="value: newRequest.due_date" type="date" />
            <input data-bind="value: target_date"
                   type="hidden" name="target_date" />
          </p>
          <p>
            <label>Client :</label>
            <select name="client" data-bind="value: newRequest.client_id, foreach: clients">
              <option data-bind="text: name, value: id"></option>
            </select>
          </p>
          <p>
            <label>Product area :</label>
            <select name="product_area" data-bind="value: newRequest.product_area_id, foreach: productsAreas">
              <option data-bind="text: name, value: id"></option>
            </select>
          </p>
          <p>
            <input type="submit" value="save" />
          </p>
        </form>
      </section>
    </article>
  </body>
</html>
